data/train_6k/
output/raw/
output/text/
output/images/
output/positions/
output/text_simplified/
output/text_sorted_type/
output/text_sorted_year/
output/text_sorted_confidence/
target/images/
__pycache__/
.DS_Store
venv/
*.aux
*.bbl
*.blg
*.brf
*.fdb_latexmk
*.fls
*.lof
*.log
*.lot
*.nav
*.snm
*.out
*.synctex.gz
*.toc